{{ define "content" }}
  {{ with .Params.images }}{{ $.Scratch.Set "image" (index . 0) }}{{ end }}


  <h1>{{ .Title }}</h1>
  <div class="episode-wrapper">
    <p class="date">
      {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}
    </p>

    <img src="{{ .Scratch.Get "image" }}" />
    {{ partial "tags" . }}


    <div class="content">{{ .Content }}</div>

    {{ if .Params.libsyn_episode_id }}
      <iframe
        title="Embed Player"
        style="border:none"
        src="https://play.libsyn.com/embed/episode/id/{{ .Params.libsyn_episode_id }}/height/128/theme/modern/size/standard/thumbnail/yes/custom-color/9b07f9/time-start/00:00:00/playlist-height/200/direction/backward/hide-subscribe/yes/font-color/FFFFFF"
        height="128"
        width="100%"
        scrolling="no"
        allowfullscreen=""
        webkitallowfullscreen="true"
        mozallowfullscreen="true"
        oallowfullscreen="true"
        msallowfullscreen="true"
      ></iframe>
    {{ end }}
  </div>
{{ end }}
