html,
body {
  height: 100%;
}

body {
  padding-top: 55px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

main {
  margin: auto;
  padding: 1rem;
  flex: 1 0 auto;
}

img {
  max-width: 100%;
}

/* Homepage */

.intro {
  margin-top: 18vh;
}

@media screen and (min-width: 768px) {
  .intro {
    margin-top: 25vh;
    max-width: 800px;
  }
}

.intro > h1 {
  color: #212121;
  font-size: 72pt;
}

@media screen and (min-width: 768px) {
  .intro > h1 {
    font-size: 102pt;
  }
}

.intro > h2 {
  color: #757575;
  font-size: 22pt;
}

@media screen and (min-width: 768px) {
  .intro > h2 {
    font-size: 42pt;
  }
}

.intro p {
  margin-top: 8rem;
  font-size: 1.75em;
}

/* Page content */

.content {
  padding-top: 20px;
}

/* Colored links */

a:link,
a:visited {
  color: var(--accent);
}

a.icon:hover {
  text-decoration: none;
}

a:hover {
  color: var(--accent) !important;
}

/* Copyright message */

.copyright {
  margin: 15px 0;
}

/* Paginator */

.pages {
  padding: 15px 0;
}

.pages-icon {
  padding: 0 15px;
}

/* List item for posts/projects */

.item {
  padding: 10px 0;
}

.item-tag {
  background-color: var(--accent);
}

/* Navigation icons */

.navbar-icon {
  font-size: 125%;
  display: inline-block !important;
}

/* Colored borders at top/bottom of page */

.navbar.navbar-default {
  border-top: var(--border-width) solid var(--accent);
}

footer {
  border-bottom: var(--border-width) solid var(--accent);
}

/* Dusty VCR specific */

main h1 {
  margin-bottom: 50px;
}

.item {
  margin-bottom: 8rem;
}

.item h2 a:hover {
  text-decoration: none;
}

.content h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 25px;
}

.item img {
  margin-bottom: 2rem;
}
